http:
  routers:
    pve:
      entryPoints:
        - https
      rule: Host(`elanor.home.singhsays.com`)
      tls: {}
      service: pve
  services:
    pve:
      loadBalancer:
        servers:
          - url: https://10.0.0.8:8006
        passHostHeader: true
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    default-header:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    default-whitelist:
      ipWhitelist:
        sourceRange:
          - "10.0.0.0/8"
          - "192.168.0.0./16"
          - "172.0.0.0/8"
    secured:
      chain:
        middlewares:
          - default-whitelist
          - deafult-headers
